<section class="section-banner features-banner mt-12 lg:mt-16">
  <div
    class="container mx-auto px-4 md:px-0 flex flex-col lg:flex-row items-center"
  >
    <div class="w-full lg:w-1/2">
      <div
        class="text-2xl lg:text-3xl leading-[1.4] tracking-[-0.3px] font-semibold"
      >
        <span class="text-primary">See Job Run</span>
        Manage jobs, time, teams, and clients - all from one intuitive platform.
      </div>

      <div class="text-lg tracking-[-0.2px] mt-8">
        All-in-one field management built for real-world workflows.
      </div>
      <div class="mt-12">
        <button pButton class="primary-btn" (click)="showDemoDialog()">
          <span pButtonLabel>SCHEDULE A DEMO</span>
          <div class="btn-icon">
            <i class="pi pi-arrow-right"></i>
          </div>
        </button>
      </div>
    </div>

    <div class="w-full lg:w-1/2">
      <img
        src="images/features/features-banner.png"
        alt="Devices"
        class="lg:ml-auto mt-12 lg:mt-0"
      />
    </div>
  </div>
</section>

<section class="section-banner jobs-banner mt-12 lg:mt-16">
  <div class="container mx-auto px-4 md:px-0">
    <div class="flex flex-col lg:flex-row items-center gap-2">
      <div class="w-full lg:w-1/2">
        <img
          src="images/features/jobs.png"
          alt="Devices"
          class="lg:mr-auto mt-12 lg:mt-0"
        />
      </div>
      <div class="w-full lg:w-1/2">
        <div
          class="text-3xl lg:text-4xl leading-[1.3] tracking-[-0.4px] font-semibold"
        >
          Jobs
        </div>
        <div
          class="text-lg mt-4 mb-8 leading-[1.5] tracking-[-0.2px] font-medium"
        >
          Keep every job organized from start to finish
        </div>

        <ul class="seejobrun-list">
          <li>Create job records with details, documents, and deadlines</li>
          <li>View job status (upcoming, in progress, completed)</li>
          <li>Assign tasks, checklists, and crew per job</li>
          <li>Track job-specific expenses, files, and notes</li>
          <li>Monitor progress and performance in real time</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section-banner leads-banner">
  <div class="container mx-auto px-4 md:px-0 mt-12 lg:mt-16">
    <div class="flex flex-col lg:flex-row items-center gap-2">
      <div class="w-full lg:w-1/2">
        <div
          class="text-3xl lg:text-4xl leading-[1.3] tracking-[-0.4px] font-semibold"
        >
          Leads
        </div>
        <div
          class="text-lg mt-4 mb-8 leading-[1.5] tracking-[-0.2px] font-medium"
        >
          Never miss a potential job
        </div>

        <ul class="seejobrun-list">
          <li>Capture leads from multiple sources in one place</li>
          <li>Track lead stages from new to converted</li>
          <li>Assign follow-up tasks or team members per lead</li>
          <li>Add notes, site requirements, or client expectations</li>
          <li>Get alerts on new, inactive, or unresponded leads</li>
        </ul>
      </div>
      <div class="w-full lg:w-1/2 flex justify-end">
        <img
          src="images/features/leads.png"
          alt="Devices"
          class="lg:ml-auto mt-12 lg:mt-0"
        />
      </div>
    </div>
  </div>
</section>

<section class="section-banner timecard-banner">
  <div class="container mx-auto px-4 md:px-0 mt-12 lg:mt-16">
    <div class="flex flex-col lg:flex-row items-center gap-2">
      <div class="w-full lg:w-1/2">
        <img
          src="images/features/timecard.png"
          alt="Devices"
          class="lg:mr-auto mt-12 lg:mt-0"
        />
      </div>
      <div class="w-full lg:w-1/2">
        <div
          class="text-3xl lg:text-4xl leading-[1.3] tracking-[-0.4px] font-semibold"
        >
          Timecard & Attendance
        </div>
        <div
          class="text-lg mt-4 mb-8 leading-[1.5] tracking-[-0.2px] font-medium"
        >
          Track hours accurately, avoid payroll headaches
        </div>

        <ul class="seejobrun-list">
          <li>Clock-in/out with GPS and time logs</li>
          <li>Record shift times, breaks, and overtime</li>
          <li>View daily or weekly summaries for each team member</li>
          <li>Export data for payroll or cost tracking</li>
          <li>Prevent time fraud with real-time location tracking</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section-banner calendar-banner">
  <div class="container mx-auto px-4 md:px-0 mt-12 lg:mt-16">
    <div class="flex flex-col lg:flex-row items-center gap-2">
      <div class="w-full lg:w-1/2">
        <div
          class="text-3xl lg:text-4xl leading-[1.3] tracking-[-0.4px] font-semibold"
        >
          My Appointment
        </div>
        <div
          class="text-lg mt-4 mb-8 leading-[1.5] tracking-[-0.2px] font-medium"
        >
          All your scheduling in one clean view
        </div>

        <ul class="seejobrun-list">
          <li>Schedule jobs, meetings, or team events</li>
          <li>Share availability across your entire team</li>
          <li>Reschedule with drag-and-drop ease</li>
          <li>Send automatic notifications to clients and crew</li>
          <li>Sync with personal calendars (Google, Outlook)</li>
        </ul>
      </div>
      <div class="w-full lg:w-1/2 flex justify-end">
        <img
          src="images/features/calendar.png"
          alt="Devices"
          class="lg:ml-auto mt-12 lg:mt-0"
        />
      </div>
    </div>
  </div>
</section>

<section class="section-banner notepad-banner">
  <div class="container mx-auto px-4 md:px-0 mt-12 lg:mt-16">
    <div class="flex flex-col lg:flex-row items-center gap-2">
      <div class="w-full lg:w-1/2">
        <img
          src="images/features/notepad.png"
          alt="notepad"
          class="lg:mr-auto mt-12 lg:mt-0"
        />
      </div>
      <div class="w-full lg:w-1/2">
        <div
          class="text-3xl lg:text-4xl leading-[1.3] tracking-[-0.4px] font-semibold"
        >
          Notepad
        </div>
        <div
          class="text-lg mt-4 mb-8 leading-[1.5] tracking-[-0.2px] font-medium"
        >
          Keep jobsite details centralized and accessible
        </div>

        <ul class="seejobrun-list">
          <li>Write freeform notes tied to specific jobs or clients</li>
          <li>Add time-stamped observations, instructions, or changes</li>
          <li>Record client feedback, inspection results, or issues</li>
          <li>Easily search and retrieve notes using keywords or filters</li>
          <li>Keep communication smooth between field and office</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mx-auto px-4 md:px-0 mb-12 lg:mb-16">
    <div
      class="text-2xl lg:text-3xl leading-[1.4] tracking-[-0.3px] font-semibold mt-12 lg:mt-16 mb-10 lg:mb-12 text-center"
    >
      And many more features built<br />to match the way you work.
    </div>
    <div
      class="bg-primary text-white mx-4 lg:mx-12 px-8 lg:px-16 py-10 lg:py-14 rounded-3xl lg:rounded-[40px]"
    >
      <div
        class="text-3xl lg:text-4xl leading-[1.3] tracking-[-0.4px] text-center font-semibold"
      >
        We're here when you need us.
      </div>
      <div class="flex justify-center mt-8 lg:mt-10">
        <ul class="seejobrun-list-white">
          <li>Write freeform notes tied to specific jobs or clients</li>
          <li>Add time-stamped observations, instructions, or changes</li>
          <li>Record client feedback, inspection results, or issues</li>
          <li>Easily search and retrieve notes using keywords or filters</li>
          <li>Keep communication smooth between field and office</li>
        </ul>
      </div>
      <div class="flex justify-center mt-8 lg:mt-10">
        <button pButton class="primary-outlined" (click)="showDemoDialog()">
          <span pButtonLabel>SCHEDULE A DEMO WITH US</span>
          <div class="btn-icon">
            <i class="pi pi-arrow-right"></i>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Demo Dialog -->
<app-contact-form
  [(dialogVisible)]="demoDialogVisible"
  dialogTitle="Schedule a Demo"
  formTitle="Request a Demo"
  formDescription="Fill out the form below and we'll get back to you to schedule your personalized demo."
  submitButtonText="Submit"
  (formSubmit)="onDemoSubmit($event)"
></app-contact-form>
