<section>
  <div class="container mx-auto px-6 lg:px-36">
    <div
      class="text-primary text-3xl lg:text-4xl font-semibold leading-[1.3] tracking-[-0.4px] mt-10 text-center"
    >
      Designed for the people who build.
    </div>
    <div
      class="text-base lg:text-lg leading-[1.5] tracking-[-0.2px] text-center mt-12 mb-12"
    >
      <div>
        See Job Run is a Construction management software solution built for
        independent general contractors.
      </div>

      <div class="mt-5">
        Trusted by hundreds of general and sub contractors across the U.S.
      </div>
    </div>
  </div>
</section>
<section>
  <div class="about-hero">
    <img src="images/seejobrun-long.svg" alt="See Job Run" class="about-logo" />
  </div>
</section>
<section class="bg-[rgba(213,231,243,0.52)]">
  <div class="container mx-auto px-6 lg:px-36">
    <div class="py-12">
      <div
        class="text-primary text-3xl lg:text-4xl leading-[1.3] tracking-[-0.4px] font-semibold"
      >
        About Us
      </div>
      <div class="text-base lg:text-lg leading-[1.5] tracking-[-0.2px] mt-12">
        Working hard to understand and grow with you, See Job Run is focused on
        providing an easy to use, scalable platform of any size and remaining
        cost effective for independent contractors or large-scale businesses.

        <div class="mt-10">
          See Job Run helps you deliver the highest quality projects to your
          clients.
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-[rgba(213,231,243,0.52)]">
  <div class="container mx-auto px-6 lg:px-36">
    <div class="py-12">
      <div
        class="text-primary text-3xl lg:text-4xl leading-[1.3] tracking-[-0.4px] font-semibold"
      >
        Our History
      </div>
      <div class="text-base lg:text-lg leading-[1.5] tracking-[-0.2px] mt-12">
        I've been a general contractor for over 30 years. See Job Run started
        because I was tired of losing my notes and struggled with keeping track
        of job schedules.
      </div>
      <div class="relative border-l-2 border-primary mt-12 ml-3">
        <!-- 2022 -->
        <div class="mb-10 relative">
          <span
            class="absolute -left-3.5 top-0 w-7 h-7 rounded-full bg-secondary z-10"
          ></span>
          <div class="pl-17">
            <h3 class="text-xl font-bold text-secondary leading-none">2022</h3>
            <div class="text-base leading-[1.5] tracking-[-0.2px] mt-5">
              Have you ever asked yourself . . . "1 Notepad for 1 Job or 1
              Notepad for all my jobs?" Ever grabbed a 2x4 to write a lumber list
              or note?
              <div class="mt-6">
                Those of us who struggle with a little ADHD know what I'm talking
                about. Out of site . . . Out of mind. Missing appointments,
                behind on jobs because you have too many hats to where. Subs not
                knowing what is in your head and you don't have a way to keep
                everyone on the same page together? For me Pen &amp; Paper wasn't
                going to fix that. So I built something that would.
              </div>
            </div>
          </div>
        </div>

        <!-- 2022–2025 -->
        <div class="mb-10 relative">
          <span
            class="absolute -left-3.5 top-0 w-7 h-7 rounded-full bg-secondary z-10"
          ></span>
          <div class="pl-17">
            <h3 class="text-xl font-bold text-secondary leading-none">
              2022–2025
            </h3>
            <div class="text-base leading-[1.5] tracking-[-0.2px] mt-5">
              I created See Job Run, one feature at a time, the same way you
              build a project. Scheduling, job tracking, leads, digital notepads,
              job calendars, none of it made the cut just because it "looked
              good". Everything works together to make all your jobs flow
              smoothly.
            </div>
          </div>
        </div>

        <!-- 2026 -->
        <div class="mb-10 relative">
          <span
            class="absolute -left-3.5 top-0 w-7 h-7 rounded-full bg-secondary z-10"
          ></span>
          <div class="pl-17">
            <h3 class="text-xl font-bold text-secondary leading-none">2026</h3>
            <div class="text-base leading-[1.5] tracking-[-0.2px] mt-5">
              This year I optimized everything — full Dark Mode, more features,
              tough Spartan look, and a personalized Spartan Dashboard to further
              balance your Work/Life.
            </div>
          </div>
        </div>

        <!-- What's next -->
        <div class="mb-10 relative">
          <span
            class="absolute -left-3.5 top-0 w-7 h-7 rounded-full bg-secondary z-10"
          ></span>
          <div class="pl-17">
            <h3 class="text-xl font-bold text-secondary leading-none">
              What's next
            </h3>
            <div class="text-base leading-[1.5] tracking-[-0.2px] mt-5">
              Continuous improvements based on your feedback.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-[rgba(213,231,243,0.52)]">
  <div class="container mx-auto px-6 lg:px-36">
    <div class="py-12">
      <div
        class="text-primary text-3xl lg:text-4xl leading-[1.3] tracking-[-0.4px] font-semibold"
      >
        Our Mission
      </div>
      <div class="text-base lg:text-lg leading-[1.5] tracking-[-0.2px] mt-12">
        At See Job Run, our mission is to simplify jobsite management for the
        hardworking teams that build the world around us.

        <div class="mt-10">
          We believe contractors, field crews, and service pros deserve tools
          that are powerful yet easy to use—without the tech headaches. That's
          why we've created a platform that helps you stay organized, save time,
          and stay focused on what matters: doing great work.
        </div>
        <div class="mt-10">
          Whether you're managing 5 jobs or 500, our goal is to give you the
          visibility, control, and confidence to run your projects
          smoothly—start to finish.
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container mx-auto px-6 lg:px-36">
    <div class="py-12">
      <div
        class="text-primary text-3xl lg:text-4xl leading-[1.3] tracking-[-0.4px] font-semibold text-center"
      >
        See what SeeJobRun users have to say.
      </div>
      <div
        class="rounded-[10px] bg-white shadow-[0_0_121.9px_0_rgba(0,0,0,0.25)] mt-8 md:mt-10"
      >
        <div
          class="flex flex-col md:flex-row justify-center items-center md:items-start gap-4 md:gap-6 px-6 py-8 md:px-[60px] md:py-[70px]"
        >
          <img src="images/quote.png" class="w-10 h-10 md:w-auto md:h-auto" />
          <div
            class="text-base font-medium leading-[1.5] tracking-[-0.16px] text-center md:text-left mt-4 md:mt-0 md:ml-9 md:pl-9 border-l-0 md:border-l-[3px] border-primary"
          >
            <div>
              I wanted something I could use everyday with any job or lead I
              worked on. This app is for all of us construction job managers who
              supervise and manage projects with endless details.
            </div>
            <div class="text-primary mt-6 md:mt-12">
              Poul Norholm, Oak Coast Construction Inc.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
