<section>
  <div class="container mx-auto px-4 md:px-0">
    <div
      class="text-primary text-3xl lg:text-4xl font-semibold leading-[1.3] tracking-[-0.4px] mt-10 text-center"
    >
      Designed for the people who build.
    </div>
    <div
      class="text-base lg:text-lg leading-[1.5] tracking-[-0.2px] text-center px-20 mt-12 mb-12"
    >
      <div>
        See Job Run is a Construction management software solution built for
        independent general contractors.
      </div>

      <div class="mt-5">
        Trusted by hundreds of general and sub contractors across the U.S.
      </div>
    </div>
  </div>
</section>
<section>
  <div class="about-banner"></div>
</section>
<section class="bg-[rgba(213,231,243,0.52)]">
  <div class="container mx-auto px-4 md:px-0">
    <div class="py-12">
      <div
        class="text-primary text-3xl lg:text-4xl leading-[1.3] tracking-[-0.4px] font-semibold"
      >
        About Us
      </div>
      <div class="text-base lg:text-lg leading-[1.5] tracking-[-0.2px] mt-12">
        We work hard to understand, and evolve with, your growing business. Our
        platform is focused on providing a holistic solution that is scalable,
        adaptable and cost effective for independent general contractors like
        yours.

        <div class="mt-10">
          SeeJobRun gives you the freedom to practice more efficiently and
          profitably and - above all - helps you deliver the highest quality
          projects to your clients.
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-[rgba(213,231,243,0.52)]">
  <div class="container mx-auto px-4 md:px-0">
    <div class="py-12">
      <div
        class="text-primary text-3xl lg:text-4xl leading-[1.3] tracking-[-0.4px] font-semibold"
      >
        Our History
      </div>
      <div class="text-base lg:text-lg leading-[1.5] tracking-[-0.2px] mt-12">
        Founded in 2022, See Job Run began with a simple yet powerful idea:
        field teams deserve tools that are built for their work—not piled with
        unnecessary features.
      </div>
      <div class="relative border-l-2 border-primary mt-12 ml-3">
        <!-- Timeline Item 1 -->
        <div class="mb-10 relative">
          <!-- Circle -->
          <span
            class="absolute -left-3.5 top-0 w-7 h-7 rounded-full bg-secondary z-10"
          ></span>

          <!-- Content -->
          <div class="pl-17">
            <h3 class="text-xl font-bold text-secondary leading-none">2022:</h3>
            <div class="text-base tracking-[-0.2px] mt-12">
              Our founding team—comprised of software engineers and former field
              crew supervisors—identified a gap in the market: existing project
              management tools were too generic and couldn't handle jobsite
              context.
              <div class="my-6">
                We released a beta version focused on job tracking, crew
                management, and timecard logging.
              </div>
            </div>
          </div>
        </div>

        <!-- Timeline Item 2 -->
        <div class="mb-10 relative">
          <!-- Circle -->
          <span
            class="absolute -left-3.5 top-0 w-7 h-7 rounded-full bg-secondary z-10"
          ></span>

          <!-- Content -->
          <div class="pl-17">
            <h3 class="text-xl font-bold text-secondary leading-none">2023:</h3>
            <div class="text-base tracking-[-0.2px] mt-12">
              After listening to real-world users, we introduced leads capture,
              calendar syncing, and notepad features, giving crews clarity from
              lead to completion.
              <div class="my-6">
                Our user base grew 3× by year-end, with hundreds of small
                construction and service teams aboard.
              </div>
            </div>
          </div>
        </div>

        <!-- Timeline Item 3 -->
        <div class="mb-10 relative">
          <!-- Circle -->
          <span
            class="absolute -left-3.5 top-0 w-7 h-7 rounded-full bg-secondary z-10"
          ></span>

          <!-- Content -->
          <div class="pl-17">
            <h3 class="text-xl font-bold text-secondary leading-none">2024:</h3>
            <div class="text-base tracking-[-0.2px] mt-12">
              Enabled cashflow insights, contact/job limits, and tiered pricing,
              helping businesses scale efficiently.
              <div class="my-6">
                Launched full customer support, guided onboarding, and a
                comprehensive support center.
              </div>
            </div>
          </div>
        </div>

        <!-- Timeline Item 3 -->
        <div class="mb-10 relative">
          <!-- Circle -->
          <span
            class="absolute -left-3.5 top-0 w-7 h-7 rounded-full bg-secondary z-10"
          ></span>

          <!-- Content -->
          <div class="pl-17">
            <h3 class="text-xl font-bold text-secondary leading-none">
              2025 and beyond:
            </h3>
            <div class="text-base tracking-[-0.2px] mt-12">
              We're focused on expanding integrations with tools like Google
              Calendar, QuickBooks, and jobsite documentation apps.
              <div class="my-6">
                Our vision is to continue building features that help field
                crews—whether you're a solo contractor or managing dozens of
                jobs—run every project confidently and profitably.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-[rgba(213,231,243,0.52)]">
  <div class="container mx-auto px-4 md:px-0">
    <div class="py-12">
      <div
        class="text-primary text-3xl lg:text-4xl leading-[1.3] tracking-[-0.4px] font-semibold"
      >
        Our Mission
      </div>
      <div class="text-base lg:text-lg leading-[1.5] tracking-[-0.2px] mt-12">
        At See Job Run, our mission is to simplify jobsite management for the
        hardworking teams that build the world around us.

        <div class="mt-10">
          We believe contractors, field crews, and service pros deserve tools
          that are powerful yet easy to use—without the tech headaches. That's
          why we've created a platform that helps you stay organized, save time,
          and stay focused on what matters: doing great work.
        </div>
        <div class="mt-10">
          Whether you're managing 5 jobs or 500, our goal is to give you the
          visibility, control, and confidence to run your projects
          smoothly—start to finish.
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container mx-auto px-4 md:px-0">
    <div class="py-12">
      <div
        class="text-primary text-3xl lg:text-4xl leading-[1.3] tracking-[-0.4px] font-semibold text-center"
      >
        See what SeeJobRun users have to say.
      </div>
      <div
        class="rounded-[10px] bg-white shadow-[0_0_121.9px_0_rgba(0,0,0,0.25)] mt-8 mx-4 md:mt-10 md:mx-20"
      >
        <div
          class="flex flex-col md:flex-row justify-center items-center md:items-start gap-4 md:gap-6 px-6 py-8 md:px-[60px] md:py-[70px]"
        >
          <img src="images/quote.png" class="w-10 h-10 md:w-auto md:h-auto" />
          <div
            class="text-base font-medium leading-[1.5] tracking-[-0.16px] text-center md:text-left mt-4 md:mt-0 md:ml-9 md:pl-9 border-l-0 md:border-l-[3px] border-primary"
          >
            <div>
              I wanted something I could use everyday with any job or lead I
              worked on. This app is for all of us construction job managers who
              supervise and manage projects with endless details.
            </div>
            <div class="text-primary mt-6 md:mt-12">
              Paul Norholm, Oak Coast Construction LLC.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
