<p-toast></p-toast>
<section class="home-banner px-0">
  <div
    class="container mx-auto px-4 md:px-0 flex flex-col lg:flex-row items-center gap-2 h-full"
  >
    <div class="w-full lg:w-1/2">
      <div class="flex items-center gap-2">
        <div class="w-4 h-4 rounded-full bg-secondary"></div>
        <div class="font-light text-[12px] lg:text-sm">
          Construction management software
        </div>
      </div>
      <div
        class="text-xl lg:text-4xl leading-[1.3] tracking-[-0.32px] font-medium mt-2"
      >
        Be the
        <div class="text-primary">Construction Manager</div>
        you always wanted to be.
      </div>

      <div class="flex gap-2 lg:gap-4 mt-11">
        <a href="#">
          <img src="images/home/app-store.png" alt="App Store" />
        </a>
        <a href="#">
          <img src="images/home/google-play.png" alt="Google Play"
        /></a>
        <a href="#">
          <img src="images/home/web.png" alt="Web" />
        </a>
      </div>
    </div>

    <div class="w-full lg:w-1/2">
      <video
        class="w-full rounded-2xl shadow-2xl lg:ml-auto mt-12 lg:mt-0"
        autoplay
        muted
        loop
        playsinline
        controls
        preload="metadata"
        poster="videos/promo-poster.png"
      >
        <source src="videos/seejobrun-promo.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</section>

<section class="banner-subtext my-12 lg:my-16">
  <div class="container mx-auto px-4 md:px-0">
    <div
      class="text-base lg:text-xl leading-[1.5] text-center tracking-[-0.2px]"
    >
      SEE JOB RUN comes packed with management tools to help you succeed and
      provide unparalleled construction management features.
    </div>
  </div>
</section>

<img src="images/home/section-curve.svg" class="w-full rotate-180" />
<section class="bg-[#286faa]">
  <div class="container mx-auto px-4 md:px-0">
    <div
      class="text-white font-semibold text-3xl lg:text-5xl leading-none text-center"
    >
      Key Features
    </div>
    <div
      class="grid grid-cols-1 lg:grid-cols-3 gap-x-7 gap-y-5 lg:gap-y-12 mt-5 lg:mt-24"
    >
      <div
        class="flex flex-col gap-5 items-center bg-white rounded-2xl hover:shadow-[0_4px_30.5px_0_rgba(0,0,0,0.40)] px-5 py-10 text-center"
      >
        <img src="images/home/briefcase.png" />
        <div
          class="text-lg lg:text-2xl leading-[1.2] font-bold lg:font-semibold capitalize"
        >
          Jobs
        </div>
        <div class="text-sm lg:text-base">
          Track and manage jobs with ease and get a complete overview of all
          active and completed jobs.
        </div>
      </div>
      <div
        class="flex flex-col gap-5 items-center bg-white rounded-2xl hover:shadow-[0_4px_30.5px_0_rgba(0,0,0,0.40)] px-5 py-10 text-center"
      >
        <img src="images/home/time-record.png" />
        <div
          class="text-lg lg:text-2xl leading-[1.2] font-bold lg:font-semibold capitalize"
        >
          Time Card
        </div>
        <div class="text-sm lg:text-base">
          Simplified time tracking log hours, breaks, and shifts,automatically
          synced for payroll & reporting.
        </div>
      </div>
      <div
        class="flex flex-col gap-5 items-center bg-white rounded-2xl hover:shadow-[0_4px_30.5px_0_rgba(0,0,0,0.40)] px-5 py-10 text-center"
      >
        <img src="images/home/job-safety.png" />
        <div
          class="text-lg lg:text-2xl leading-[1.2] font-bold lg:font-semibold capitalize"
        >
          Job Safety & Reporting
        </div>
        <div class="text-sm lg:text-base">
          Stay compliant and secure Capture safety checks, incidents & site
          conditions with instant reporting tools.
        </div>
      </div>
      <div
        class="flex flex-col gap-5 items-center bg-white rounded-2xl hover:shadow-[0_4px_30.5px_0_rgba(0,0,0,0.40)] px-5 py-10 text-center"
      >
        <img src="images/home/task-management.png" />
        <div
          class="text-lg lg:text-2xl leading-[1.2] font-bold lg:font-semibold capitalize"
        >
          Task Management
        </div>
        <div class="text-sm lg:text-base">
          Keep every task on track Assign, update, and monitor job tasks in
          real-time with built-in team accountability.
        </div>
      </div>
      <div
        class="flex flex-col gap-5 items-center bg-white rounded-2xl hover:shadow-[0_4px_30.5px_0_rgba(0,0,0,0.40)] px-5 py-10 text-center"
      >
        <img src="images/home/calendar.png" />
        <div
          class="text-lg lg:text-2xl leading-[1.2] font-bold lg:font-semibold capitalize"
        >
          My Appointment
        </div>
        <div class="text-sm lg:text-base">
          Schedule jobs, meetings, and appointments with a calendar that keeps
          everyone aligned.
        </div>
      </div>
      <div
        class="flex flex-col gap-5 items-center bg-white rounded-2xl hover:shadow-[0_4px_30.5px_0_rgba(0,0,0,0.40)] px-5 py-10 text-center"
      >
        <img src="images/home/team-management.png" />
        <div
          class="text-lg lg:text-2xl leading-[1.2] font-bold lg:font-semibold capitalize"
        >
          Teams Management
        </div>
        <div class="text-sm lg:text-base">
          Manage crews, roles, and responsibilities with tools built for field
          and office coordination.
        </div>
      </div>
    </div>

    <div class="flex justify-center mt-20">
      <div>
        <a routerLink="/features" pButton class="primary-outlined">
          <span pButtonLabel>LEARN MORE</span>
          <div class="btn-icon">
            <i class="pi pi-arrow-right"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<img src="images/home/section-curve.svg" class="w-full" />
<section>
  <div class="container mx-auto px-4 md:px-0">
    <div
      class="text-center text-base lg:text-3xl leading-[1.4] tracking-[-0.3px] font-medium mt-12 lg:mt-16 px-0 lg:px-17"
    >
      Stay on top of every job with See Job Run's all-in-one
      <span class="text-[#49AF31]">field management solution.</span>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-5 lg:gap-12 mt-10 lg:mt-16">
      <div
        class="flex flex-col gap-6 items-center text-center rounded-2xl bg-[#E9F2F9] px-[30px] py-[40px]"
      >
        <img src="images/home/reports.png" />
        <div
          class="text-lg lg:text-2xl leading-[1.2] font-bold lg:font-semibold tracking-[-0.24px]"
        >
          Fast & Easy<br />Reports
        </div>
        <div class="text-sm lg:text-base">
          Track and manage jobsite activity with easy-to-use reporting tools
          that boost transparency and efficiency.
        </div>
      </div>
      <div
        class="flex flex-col gap-6 items-center text-center rounded-2xl bg-[#E9F2F9] px-[30px] py-[40px]"
      >
        <img src="images/home/scheduling.png" />
        <div
          class="text-lg lg:text-2xl leading-[1.2] font-bold lg:font-semibold tracking-[-0.24px]"
        >
          Powerful
          <br />Scheduling
        </div>
        <div class="text-sm lg:text-base">
          Plan and assign jobs or tasks with smart scheduling that keeps your
          team organized and timelines on track.
        </div>
      </div>
      <div
        class="flex flex-col gap-6 items-center text-center rounded-2xl bg-[#E9F2F9] px-[30px] py-[40px]"
      >
        <img src="images/home/operations.png" />
        <div
          class="text-lg lg:text-2xl leading-[1.2] font-bold lg:font-semibold tracking-[-0.24px]"
        >
          Seamless

          <br />Operations
        </div>
        <div class="text-sm lg:text-base">
          Handle day-to-day fieldwork and office tasks effortlessly with an
          all-in-one system built for smooth workflows.
        </div>
      </div>
    </div>
  </div>
</section>
<div class="flex justify-center my-10 lg:my-20">
  <div class="w-1/2 bg-[#276CA6] h-[3px]"></div>
</div>
<section class="jmg-banner">
  <div
    class="container mx-auto px-4 md:px-0 flex flex-col lg:flex-row items-center gap-2 h-full"
  >
    <div class="w-full lg:w-1/2">
      <img
        src="images/home/demo-image.png"
        alt="Devices"
        class="lg:mr-auto mt-12 lg:mt-0"
      />
    </div>

    <div class="w-full lg:w-1/2">
      <div
        class="text-base lg:text-xl leading-[1.4] tracking-[-0.2px] font-semibold text-center lg:text-left"
      >
        See Job Run's<span class="text-primary"> intuitive job management</span>
        design empowers teams to focus on getting work done.
      </div>

      <div class="text-sm lg:text-lg mt-9 text-center lg:text-left">
        See Job Run comes packed with customizable tools for scheduling,
        reporting, time tracking, and more—giving you the flexibility to run
        field operations your way, without the chaos.
      </div>
      <div class="mt-12">
        <button pButton class="primary-btn" (click)="showDemoDialog()">
          <span pButtonLabel>SCHEDULE A DEMO WITH US</span>
          <div class="btn-icon">
            <i class="pi pi-arrow-right"></i>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container mx-auto px-4 md:px-0">
    <div
      class="text-xl lg:text-4xl leading-[1.4] tracking-[-0.4px] text-center mt-10 lg:mt-16 mb-10 lg:mb-12 px-0 lg:px-29 font-medium"
    >
      Maximize your impact without maxing out your budget
    </div>
    <div class="flex flex-col lg:flex-row items-center gap-[38px]">
      <div class="w-full lg:w-1/2">
        <div
          class="text-primary text-base lg:text-3xl leading-[1.3] tracking-[-0.3px] text-center lg:text-left"
        >
          Cashflow management
        </div>
        <div
          class="text-sm lg:text-base mt-[52px] mb-[46px] leading-[1.5] tracking-[-0.16px]"
        >
          Keep your finances on track with tools built to help you stay
          profitable and get paid faster.
        </div>

        <ul class="seejobrun-list">
          <li>Log job costs and expenses in real time</li>
          <li>Track payments and outstanding balances</li>
          <li>Handle billing and invoicing with ease</li>
          <li>Monitor cash inflow and outflow per project</li>
          <li>
            Get support from a team that understands field service finance
          </li>
        </ul>
      </div>
      <div class="w-full lg:w-1/2 flex justify-end">
        <img src="images/home/cashflow-mg.jpg" />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container mx-auto px-4 md:px-0 mt-10 lg:mt-16">
    <div class="flex flex-col lg:flex-row items-center gap-[38px]">
      <div class="w-full lg:w-1/2">
        <img src="images/home/workers.jpg" />
      </div>
      <div class="w-full lg:w-1/2">
        <div
          class="text-primary text-base lg:text-3xl leading-[1.3] tracking-[-0.3px] text-center lg:text-left"
        >
          Start with just $75 for 75 contacts
        </div>
        <div
          class="text-sm lg:text-base mt-[52px] mb-[46px] leading-[1.5] tracking-[-0.16px]"
        >
          The trusted job management tool built for growing teams and real-world
          workflows.
        </div>

        <ul class="seejobrun-list">
          <li>Upgrade anytime as your contact list grows</li>
          <li>Simple, intuitive, and easy to use</li>
          <li>Seamless onboarding with setup support</li>
          <li>Reliable customer service when you need it</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="flex justify-center my-10 lg:my-20">
  <div class="w-1/2 bg-[#276CA6] h-[3px]"></div>
</div>
<section>
  <div class="container mx-auto">
    <div
      class="text-[24px] lg:text-[32px] leading-[30px] lg:leading-[40px] tracking-[-0.6px] text-center mt-10 lg:mt-16 mb-8 lg:mb-12 px-0 lg:px-29 font-medium"
    >
      Maximize your impact without maxing out your budget
    </div>
    <div
      class="text-primary text-xl lg:text-4xl leading-[1.4] tracking-[-0.4px] mb-10 lg:mb-16 text-center font-semibold"
    >
      Make the switch.
    </div>
  </div>
</section>
<section class="play-video mb-12 lg:mb-16">
  <div class="container mx-auto px-4 md:px-0">
    <div class="flex flex-col lg:flex-row items-center gap-2">
      <div class="w-full lg:w-1/2">
        <img
          src="images/home/play-video.png"
          alt="Devices"
          class="lg:mr-auto mt-12 lg:mt-0"
        />
      </div>

      <div class="w-full lg:w-1/2">
        <div
          class="text-base lg:text-xl leading-[1.4] tracking-[-0.2px] font-medium"
        >
          Find out how See Job Run helps Poul Norholm achieve more every day.
        </div>

        <div class="text-sm lg:text-lg leading-[1.5] font-medium mt-9">
          " I wanted something I could use everyday with any job or lead I
          worked on. This app is for all of us construction job managers who
          supervise and manage projects with endless details."
        </div>
        <div
          class="text-sm lg:text-lg leading-[1.5] font-semibold mt-5 lg:mt-12"
        >
          Poul Norholm
        </div>
        <div class="text-sm lg:text-lg leading-[1.5] font-medium">
          Oak Coast Construction INC.
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Demo Dialog -->
<app-contact-form
  [(dialogVisible)]="demoDialogVisible"
  dialogTitle="Schedule a Demo"
  formTitle="Request a Demo"
  formDescription="Fill out the form below and we'll get back to you to schedule your personalized demo."
  submitButtonText="Submit"
  (formSubmit)="onDemoSubmit($event)"
></app-contact-form>
