<footer>
  <div class="container mx-auto px-6 lg:px-24 py-12">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-[30px] lg:gap-[90px]">
      <div class="flex flex-col gap-[60px]">
        <a href="/">
          <img src="images/seejobrun-long.svg" alt="See Job Run" style="height: 48px; width: auto" />
        </a>
        <div class="text-sm">
          See Job Run gives field teams the tools to work smarter, stay
          organized, and boost profitability—so they can deliver top results on
          every job.
        </div>
      </div>
      <div class="flex flex-col gap-[48px]">
        <div>
          <div class="text-primary text-lg font-bold">About Us</div>
          <ul class="pl-0 list-style-none flex flex-col gap-2 mt-4">
            <li>
              <a href="#" class="text-base font-medium">Overview</a>
            </li>
          </ul>
        </div>
        <div>
          <div class="text-primary text-lg font-bold">Pricing</div>
          <ul class="pl-0 list-style-none flex flex-col gap-2 mt-4">
            <li>
              <a href="#" class="text-base font-medium">Plans</a>
            </li>
          </ul>
        </div>
        <div>
          <div class="text-primary text-lg font-bold">Legal Compliance</div>
          <ul class="pl-0 list-style-none flex flex-col gap-2 mt-4">
            <li>
              <a href="#" class="text-base font-medium">Privacy Policy</a>
            </li>
            <li>
              <a href="#" class="text-base font-medium">Terms of Service</a>
            </li>
            <li>
              <a href="#" class="text-base font-medium"
                >Cost and fee regulations</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col gap-[48px]">
        <div class="flex flex-col gap-[48px]">
          <div>
            <div class="text-primary text-lg font-bold">Get In Touch</div>
            <ul class="pl-0 list-style-none flex flex-col gap-2 mt-4">
              <li>
                <a
                  href="#"
                  class="flex gap-2 items-center text-base font-medium"
                  ><img src="images/calendar-footer.png" />
                  <span>Overview</span></a
                >
              </li>
            </ul>
          </div>

          <div>
            <div class="text-primary text-lg font-bold">Our Socials</div>
            <ul class="pl-0 list-style-none flex items-center gap-2 mt-4">
              <li>
                <a href="#"><img src="images/social/facebook.png" /></a>
              </li>
              <li>
                <a href="#"><img src="images/social/linkedin.png" /></a>
              </li>
              <li>
                <a href="#"><img src="images/social/youtube.png" /></a>
              </li>
              <li>
                <a href="#"><img src="images/social/x.png" /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="text-sm font-medium text-center mt-10">
      &copy; 2026 SEEJOBRUN -All Rights Reserved
    </div>
  </div>
</footer>
